<%= form_with(model: memory, local: true) do |form| %>
  <% if memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% memory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :day %>
    <%= form.date_field :day, class: "form-control" %>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= form.label :lat %>
      <%= form.text_field :lat, class: "form-control" %>
    </div>

    <div class="form-group col">
      <%= form.label :long %>
      <%= form.text_field :long, class: "form-control" %>    
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= form.label :temperature %>
      <%= form.text_field :temperature, class: "form-control" %>
    </div>

    <div class="form-group col">
      <%= form.label :weather_id %>
      <%= form.select("weather_id", @weather_options, { include_blank: 'Selecione' }, class: "form-control") %>
    </div>
  </div>

  <div id="map"></div>

  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
