<p id="notice"><%= notice %></p>

<h1>Memories</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>City</th>
      <th>Temperature</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memories.each do |memory| %>
      <tr>
        <td><%= memory.description %></td>
        <td><%= memory.city %></td>
        <td><%= memory.temperature %></td>
        <td><%= memory.lat %></td>
        <td><%= memory.long %></td>
        <td><%= memory.day %></td>
        <td><%= link_to 'Show', memory %></td>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory', new_memory_path %>
