<!DOCTYPE html>
<html>
  <head>
    <title>MemoriesOfTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <div class="container">
      <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      
      <%= yield %>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_ACCESS_KEY"] %>&libraries=places&callback=initMap" async defer></script>
  </body>
</html>
